/* src/index.css */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Poppins', sans-serif;
}

.swiper-pagination-bullet {
  width: 40px;
  height: 16px;
  border-radius: 999px;
  background: rgba(255, 0, 0, 0.4); /* light red */
  border: 1px solid red;
  opacity: 1;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background: red;
  border-radius: 50%;
}
